<footer class="launchpad-footer">
  <div class="footer-inner">
    <!-- Left Logo Block -->
    <div class="footer-brand">
      <div class="footer-logo">
        <img src="assets/rocket.png" alt="LaunchPad Labs logo">
        <h3><span>Launch</span>Pad Labs</h3>
      </div>
      <p>We build high-quality MVPs to transform <br> your ideas into reality.</p>
      <div class="footer-social">
        <a href="#"><img src="assets/x.png" alt="X"></a>
        <a href="#"><img src="assets/instagram.png" alt="LinkedIn"></a>
      </div>
    </div>

    <!-- Footer Columns -->
    <div class="footer-links">
      <div>
        <h4>Services</h4>
        <a href="#">MVP Development</a>
        <a href="#">UI/UX Design</a>
        <a href="#">Web Development</a>
        <a href="#">Mobile Apps</a>
        <a href="#">Consulting</a>
      </div>

      <div>
        <h4>About</h4>
        <a href="#">Our Process</a>
        <a href="#">How We Work</a>
        <a href="#">Contact</a>
        <a href="#">FAQs</a>
      </div>

      <div>
        <h4>Portfolio</h4>
        <a href="#">Case Studies</a>
        <a href="#">Success Stories</a>
        <a href="#">MVP Showcase</a>
        <a href="#">Testimonials</a>
      </div>

      <div>
        <h4>Legal</h4>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Services</a>
        <a href="#">Cookie Policy</a>
      </div>
    </div>
  </div>
 
</footer>
 <div class="footer-faade-text"> 
  <div class="lp-footer-bg">LaunchPad Labs</div>
  <p class="lp-footer-bottom">© 2025 LinkVerse. All rights reserved.</p>
</div>