<header class="navbar">

  <a href="index.html">
  <img src="assets/logo.png" alt="LaunchPad Labs Logo" class="logo">
</a>


  <div class="nav-right">
    <nav class="nav-links">
      <a href="HowitWorks.html">How It Works</a>
      <a href="caseStudy.html">Our Work</a>
      <a href="FAQs.html">Our Process</a>
       <a href="founder.html">Founder</a>
       <a href="pricing.html">Pricing</a>
    </nav>

    <button class="book-btn">Book A Call</button>

    <!-- Mobile Menu Icon -->
    <div class="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <!-- Overlay and Mobile Drawer -->
<div class="menu-overlay"></div>

<nav class="mobile-menu">
  <a href="HowitWorks.html">How It Works</a>
  <a href="caseStudy.html">Our Work</a>
  <a href="FAQs.html">Our Process</a>
  <a href="founder.html">Founder</a>
  <a href="pricing.html">Pricing</a>
  <button class="book-btn">Book A Call</button>
</nav>

</header>